.orhan {
    background-color: red;
}
.orhan {
    background-color: red;
}.orhan {
    background-color: red;
}.orhan {
    background-color: red;
    color: green
}.orhan {
    background-color: red;
    color: green
}.orhan {
    background-color: red;
    color: green
}